/*==================== content-style ====================*/

.hover-grid {
    [class*="grid-box"] {
        position: absolute;
        overflow: hidden;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        .img-box {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
        .txt-box {
            text-align: center;
            color: #fff;
            h2 {
                font-size: 24px;
                text-transform: uppercase;
            }
            p {
                font-size: 14px;
                letter-spacing: 1px;
            }
        }
    }
    .grid-box1 {
        left: 0;
        top: 0;
        width: 25%;
        height: 50%;
        .img-box {
            background-image: url(../images/thumbs/1.jpg);
        }
    }
    .grid-box2 {
        left: 0;
        top: 50%;
        width: 25%;
        height: 50%;
        .img-box {
            background-image: url(../images/thumbs/2.jpg);
        }
    }
    .grid-box3 {
        left: 25%;
        top: 0;
        width: 25%;
        height: 100%;
        .img-box {
            background-image: url(../images/thumbs/5.jpg);
        }
    }
    .grid-box4 {
        left: 50%;
        top: 0;
        width: 50%;
        height: 50%;
        .img-box {
            background-image: url(../images/thumbs/4.jpg);
        }
    }
    .grid-box5 {
        left: 50%;
        top: 50%;
        width: 25%;
        height: 50%;
        .img-box {
            background-image: url(../images/bg.jpg);
        }
    }
    .grid-box6 {
        left: 75%;
        top: 50%;
        width: 25%;
        height: 50%;
        .img-box {
            background-image: url(../images/thumbs/6.jpg);
        }
    }
}


/*=========================== animate-style ========================*/

@mixin base-transition($property, $duration, $type) {
    -webkit-transition: $property $duration $type;
    transition: $property $duration $type;
}

.hover-effect1 {
    .img-box {
        opacity: .6;
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
        @include base-transition(all, .35s, ease);
    }
    .txt-box {
        p,
        h2 {
            -webkit-transform: translate3d(0, 20px, 0) scale(1.1);
            transform: translate3d(0, 20px, 0) scale(1.1);
            @include base-transition(all, .35s, ease);
        }
        p {
            padding: 3%;
            border: 1px solid #fff;
            opacity: 0;
        }
    }
    &:hover {
        .img-box {
            opacity: .8;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        .txt-box {
            p {
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0) scale(1);
                transform: translate3d(0, 0, 0) scale(1);
            }
            h2 {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
    }
}