.page [data-animation="slideToTop"] {
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0)
}

.page [data-animation="slideToBottom"] {
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0)
}

.page [data-animation="slideToLeft"] {
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0)
}

.page [data-animation="slideToRight"] {
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0)
}

.page [data-animation="fadeInToTop"] {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0)
}

.page [data-animation="fadeInToBottom"] {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
}

.page [data-animation="fadeInToLeft"] {
    opacity: 0;
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0)
}

.page [data-animation="fadeInToRight"] {
    opacity: 0;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0)
}

.page [data-animation="fadeIn"] {
    opacity: 0
}

.page [data-animation="fadeOut"] {
    opacity: 1
}

.page [data-animation="followSlide"] {
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0)
}

.page [data-animation="followSlideToTop"] {
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0)
}

.page [data-animation="followSlideToBottom"] {
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0)
}

.page [data-animation="followSlideToLeft"] {
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0)
}

.page [data-animation="followSlideToRight"] {
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0)
}

@-webkit-keyframes slideToTop {
    from {
        -webkit-transform: translate3d(0, 1000px, 0);
        transform: translate3d(0, 1000px, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes slideToTop {
    from {
        -webkit-transform: translate3d(0, 1000px, 0);
        transform: translate3d(0, 1000px, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes slideToBottom {
    from {
        -webkit-transform: translate3d(0, -1000px, 0);
        transform: translate3d(0, -1000px, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes slideToBottom {
    from {
        -webkit-transform: translate3d(0, -1000px, 0);
        transform: translate3d(0, -1000px, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes slideToLeft {
    from {
        -webkit-transform: translate3d(700px, 0, 0);
        transform: translate3d(700px, 0, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes slideToLeft {
    from {
        -webkit-transform: translate3d(700px, 0, 0);
        transform: translate3d(700px, 0, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes slideToRight {
    from {
        -webkit-transform: translate3d(-700px, 0, 0);
        transform: translate3d(-700px, 0, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes slideToRight {
    from {
        -webkit-transform: translate3d(-700px, 0, 0);
        transform: translate3d(-700px, 0, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes fadeInToTop {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInToTop {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes fadeInToBottom {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInToBottom {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes fadeInToRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInToRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes fadeInToLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes fadeInToLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes followSlideToTop {
    from {
        -webkit-transform: translate3d(0, 1000px, 0);
        transform: translate3d(0, 1000px, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes followSlideToTop {
    from {
        -webkit-transform: translate3d(0, 1000px, 0);
        transform: translate3d(0, 1000px, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes followSlideToBottom {
    from {
        -webkit-transform: translate3d(0, -1000px, 0);
        transform: translate3d(0, -1000px, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes followSlideToBottom {
    from {
        -webkit-transform: translate3d(0, -1000px, 0);
        transform: translate3d(0, -1000px, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes followSlideToRight {
    from {
        -webkit-transform: translate3d(-1000px, 0, 0);
        transform: translate3d(-1000px, 0, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes followSlideToRight {
    from {
        -webkit-transform: translate3d(-1000px, 0, 0);
        transform: translate3d(-1000px, 0, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@-webkit-keyframes followSlideToLeft {
    from {
        -webkit-transform: translate3d(1000px, 0, 0);
        transform: translate3d(1000px, 0, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes followSlideToLeft {
    from {
        -webkit-transform: translate3d(1000px, 0, 0);
        transform: translate3d(1000px, 0, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}


/* 添加的动画 */

.flipUpSlide {
    -webkit-animation: flipUpSlide 4s ease both;
    animation: flipUpSlide 4s ease both;
}

@-webkit-keyframes flipUpSlide {
    0% {
        opacity: 1;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    5% {
        opacity: 1;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    15% {
        opacity: 1;
        -webkit-transform: translate(-50%, 30px);
        transform: translate(-50%, 30px);
    }
    20% {
        opacity: 1;
        -webkit-transform: translate(-50%, 30px);
        transform: translate(-50%, 30px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(-50%, -2000px);
        transform: translate(-50%, -2000px);
    }
}

@keyframes flipUpSlide {
    0% {
        opacity: 1;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    5% {
        opacity: 1;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    15% {
        opacity: 1;
        -webkit-transform: translate(-50%, 30px);
        transform: translate(-50%, 30px);
    }
    20% {
        opacity: 1;
        -webkit-transform: translate(-50%, 30px);
        transform: translate(-50%, 30px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(-50%, -2000px);
        transform: translate(-50%, -2000px);
    }
}

.fadeIn {
    -webkit-animation: fadeIn .6s ease both;
    animation: fadeIn .6s ease both;
}

.rocket-flame {
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}

.map-bg {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.flipInSlide {
    -webkit-animation: flipInSlide 1.3s linear .8s both;
    animation: flipInSlide 1.3s linear .8s both;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
}

@-webkit-keyframes flipInSlide {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 20%) scale(1);
        transform: translate(0, 20%) scale(1);
    }
    30% {
        opacity: .5;
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 0) scale(2);
        transform: translate(0, 0) scale(2);
    }
}

@keyframes flipInSlide {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 20%) scale(1);
        transform: translate(0, 20%) scale(1);
    }
    30% {
        opacity: .5;
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 0) scale(2);
        transform: translate(0, 0) scale(2);
    }
}

.scaleYslide {
    -webkit-animation: scaleYslide .8s linear 1.1s both;
    animation: scaleYslide .8s linear 1.1s both;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
}

@-webkit-keyframes scaleYslide {
    0% {
        opacity: .6;
        -webkit-transform: translate(-50%, 0) scale(.8, 0);
        transform: translate(-50%, 0) scale(.8, 0);
    }
    50% {
        opacity: .6;
        -webkit-transform: translate(-50%, 0) scale(.6, .5);
        transform: translate(-50%, 0) scale(.6, .5);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, 0) scale(.5, 1.3);
        transform: translate(-50%, 0) scale(.5, 1.3);
    }
}

@keyframes scaleYslide {
    0% {
        opacity: .6;
        -webkit-transform: translate(-50%, 0) scale(.8, 0);
        transform: translate(-50%, 0) scale(.8, 0);
    }
    50% {
        opacity: .6;
        -webkit-transform: translate(-50%, 0) scale(.6, .5);
        transform: translate(-50%, 0) scale(.6, .5);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, 0) scale(.5, 1.3);
        transform: translate(-50%, 0) scale(.5, 1.3);
    }
}

.flowRight {
    -webkit-animation: flowRight .4s linear 2.4s both;
    animation: flowRight .4s linear 2.4s both;
}

@-webkit-keyframes flowRight {
    0% {
        opacity: 1;
        -webkit-transform: translate(-100%, 100%);
        transform: translate(-100%, 100%);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    80% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes flowRight {
    0% {
        opacity: 1;
        -webkit-transform: translate(-100%, 100%);
        transform: translate(-100%, 100%);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    80% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.flowLeft {
    -webkit-animation: flowLeft .4s linear 2.4s both;
    animation: flowLeft .4s linear 2.4s both;
}

@-webkit-keyframes flowLeft {
    0% {
        opacity: 1;
        -webkit-transform: translate(100%, 100%);
        transform: translate(100%, 100%);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    80% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes flowLeft {
    0% {
        opacity: 1;
        -webkit-transform: translate(100%, 100%);
        transform: translate(100%, 100%);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    80% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.scaleBoom {
    -webkit-animation: scaleBoom .5s ease-in-out 2.5s both;
    animation: scaleBoom .5s ease-in-out 2.5s both;
}

@-webkit-keyframes scaleBoom {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    80% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleBoom {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    80% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/*============================ 添加往返动画 ============================*/

.page [data-animation="scaleOut1"] {}

.page [data-animation="scaleOut2"] {}

.page [data-animation="flapFlow"] {}

.page [data-animation="rotateScroll"] {}

.page [data-animation="flipToTop"] {}

.page [data-animation="flipToTop2"] {}

.page [data-animation="flipToTop3"] {}

.page [data-animation="flipToTop4"] {}

.page [data-animation="flipToTop5"] {}

.page [data-animation="flipToTop6"] {}

.page [data-animation="fadeWalk"] {}

.page [data-animation="scaleFlow"] {}

@-webkit-keyframes scaleOut1 {
    0% {
        box-shadow: 0 0 0 0 rgba(236, 52, 111, .4);
    }
    100% {
        box-shadow: 0 0 0 12px rgba(236, 52, 111, .2);
    }
}

@keyframes scaleOut1 {
    0% {
        box-shadow: 0 0 0 0 rgba(236, 52, 111, .4);
    }
    100% {
        box-shadow: 0 0 0 12px rgba(236, 52, 111, .2);
    }
}

@-webkit-keyframes scaleOut2 {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 220, 134, .5);
    }
    100% {
        box-shadow: 0 0 0 12px rgba(0, 220, 134, .2);
    }
}

@keyframes scaleOut2 {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 220, 134, .5);
    }
    100% {
        box-shadow: 0 0 0 12px rgba(0, 220, 134, .2);
    }
}

@-webkit-keyframes flapFlow {
    0% {
        -webkit-transform: rotate(0deg) scale(1, 1);
        transform: rotate(0deg) scale(1, 1);
    }
    25% {
        -webkit-transform: rotate(4deg) scale(1.1, 1.1);
        transform: rotate(4deg) scale(1.1, 1.1);
    }
    75% {
        -webkit-transform: rotate(-4deg) scale(1.1, 1.1);
        transform: rotate(-4deg) scale(1.1, 1.1);
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1, 1);
        transform: rotate(0deg) scale(1, 1);
    }
}

@keyframes flapFlow {
    0% {
        -webkit-transform: rotate(0deg) scale(1, 1);
        transform: rotate(0deg) scale(1, 1);
    }
    25% {
        -webkit-transform: rotate(4deg) scale(1.1, 1.1);
        transform: rotate(4deg) scale(1.1, 1.1);
    }
    75% {
        -webkit-transform: rotate(-4deg) scale(1.1, 1.1);
        transform: rotate(-4deg) scale(1.1, 1.1);
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1, 1);
        transform: rotate(0deg) scale(1, 1);
    }
}

@-webkit-keyframes rotateScroll {
    0% {
        opacity: 0;
        -webkit-transform: rotate(-60deg);
        transform: rotate(-60deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes rotateScroll {
    0% {
        opacity: 0;
        -webkit-transform: rotate(-60deg);
        transform: rotate(-60deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@-webkit-keyframes flipToTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(400px);
        transform: translateY(400px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes flipToTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(400px);
        transform: translateY(400px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes flipToTop2 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(400px) scale(1);
        transform: translateY(400px) scale(1);
    }
    100% {
        opacity: .7;
        -webkit-transform: translateX(0) scale(.96);
        transform: translateX(0) scale(.96);
    }
}

@keyframes flipToTop2 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(400px) scale(1);
        transform: translateY(400px) scale(1);
    }
    100% {
        opacity: .7;
        -webkit-transform: translateX(0) scale(.96);
        transform: translateX(0) scale(.96);
    }
}

@-webkit-keyframes flipToTop3 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(400px) scale(1);
        transform: translateY(400px) scale(1);
    }
    100% {
        opacity: .6;
        -webkit-transform: translateX(0) scale(.9);
        transform: translateX(0) scale(.9);
    }
}

@keyframes flipToTop3 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(400px) scale(1);
        transform: translateY(400px) scale(1);
    }
    100% {
        opacity: .6;
        -webkit-transform: translateX(0) scale(.9);
        transform: translateX(0) scale(.9);
    }
}

@-webkit-keyframes flipToTop4 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(400px) scale(1);
        transform: translateY(400px) scale(1);
    }
    100% {
        opacity: .4;
        -webkit-transform: translateX(0) scale(.85);
        transform: translateX(0) scale(.85);
    }
}

@keyframes flipToTop4 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(400px) scale(1);
        transform: translateY(400px) scale(1);
    }
    100% {
        opacity: .4;
        -webkit-transform: translateX(0) scale(.85);
        transform: translateX(0) scale(.85);
    }
}

@-webkit-keyframes flipToTop5 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(400px) scale(1);
        transform: translateY(400px) scale(1);
    }
    100% {
        opacity: .3;
        -webkit-transform: translateX(0) scale(.8);
        transform: translateX(0) scale(.8);
    }
}

@keyframes flipToTop5 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(400px) scale(1);
        transform: translateY(400px) scale(1);
    }
    100% {
        opacity: .3;
        -webkit-transform: translateX(0) scale(.8);
        transform: translateX(0) scale(.8);
    }
}

@-webkit-keyframes flipToTop6 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(400px) scale(1);
        transform: translateY(400px) scale(1);
    }
    100% {
        opacity: .1;
        -webkit-transform: translateX(0) scale(.75);
        transform: translateX(0) scale(.75);
    }
}

@keyframes flipToTop6 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(400px) scale(1);
        transform: translateY(400px) scale(1);
    }
    100% {
        opacity: .1;
        -webkit-transform: translateX(0) scale(.75);
        transform: translateX(0) scale(.75);
    }
}

@-webkit-keyframes fadeWalk {
    0% {
        opacity: .3;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: .3;
    }
}

@keyframes fadeWalk {
    0% {
        opacity: .3;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: .3;
    }
}

@-webkit-keyframes scaleFlow {
    0% {
        -webkit-transform: scale(.3);
        transform: scale(.3);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(.3);
        transform: scale(.3);
    }
}

@keyframes scaleFlow {
    0% {
        -webkit-transform: scale(.3);
        transform: scale(.3);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(.3);
        transform: scale(.3);
    }
}