/*==================== nav-style ====================*/
/* line 4, ../sass/hover_animate.scss */
.header .nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 48px;
  line-height: 48px;
  background: #e1e3e4;
  border-top: 1px solid #d2d6d5;
  border-bottom: 1px solid #d2d6d5;
}
/* line 15, ../sass/hover_animate.scss */
.header .nav .menu > ul {
  overflow: hidden;
}
/* line 17, ../sass/hover_animate.scss */
.header .nav .menu > ul > li {
  float: left;
  border-right: 1px solid #d2d6d5;
}
/* line 20, ../sass/hover_animate.scss */
.header .nav .menu > ul > li:last-child {
  border-right: none;
}
/* line 23, ../sass/hover_animate.scss */
.header .nav .menu > ul > li > span {
  position: relative;
  display: block;
  padding: 0 30px 0 15px;
  color: #313131;
  font-size: 15px;
  cursor: pointer;
}
/* line 30, ../sass/hover_animate.scss */
.header .nav .menu > ul > li > span:before, .header .nav .menu > ul > li > span:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 19px;
  width: 2px;
  height: 8px;
  margin-top: -3px;
  background: #A6ABAB;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
/* line 46, ../sass/hover_animate.scss */
.header .nav .menu > ul > li > span:after {
  right: 15px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/* line 51, ../sass/hover_animate.scss */
.header .nav .menu > ul > li > span.open, .header .nav .menu > ul > li > span:hover {
  background-color: #F4F4F4;
}
/* line 54, ../sass/hover_animate.scss */
.header .nav .menu > ul > li > span.open:before, .header .nav .menu > ul > li > span:hover:before {
  right: 15px;
}
/* line 57, ../sass/hover_animate.scss */
.header .nav .menu > ul > li > span.open:after, .header .nav .menu > ul > li > span:hover:after {
  right: 19px;
}
/* line 66, ../sass/hover_animate.scss */
.header .list-tags {
  position: relative;
  top: 48px;
  padding: 30px 20px 24px 20px;
  overflow: hidden;
  border-bottom: 1px solid #d2d6d5;
}
/* line 73, ../sass/hover_animate.scss */
.header .list-tags > ul > li {
  position: relative;
  float: left;
  margin: 0 6px 6px 0;
  line-height: 24px;
  font-size: 13px;
}
/* line 79, ../sass/hover_animate.scss */
.header .list-tags > ul > li > a {
  display: block;
  height: 23px;
  padding: 0 10px;
  background: #F4F4F4;
  color: #313131;
  border-radius: 2px;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
/* line 88, ../sass/hover_animate.scss */
.header .list-tags > ul > li > a:hover, .header .list-tags > ul > li > a.current {
  background: #444 !important;
  color: #fff;
}
/* line 93, ../sass/hover_animate.scss */
.header .list-tags > ul > li > a.popular {
  background-color: #3C948B;
  color: #fff;
}

/*=========================== animate-style ========================*/
/* line 111, ../sass/hover_animate.scss */
.grid-list {
  position: relative;
  top: 98px;
  width: 1423px;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 118, ../sass/hover_animate.scss */
.grid-list > ul {
  margin-left: -23px;
}
/* line 120, ../sass/hover_animate.scss */
.grid-list > ul > li {
  position: relative;
  float: left;
  margin: 0 23px 35px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 439px;
  height: 314px;
  background: #3C948B;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
}
/* line 141, ../sass/hover_animate.scss */
.grid-list > ul > li .img-box {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 148, ../sass/hover_animate.scss */
.grid-list > ul > li .txt-box {
  text-align: center;
  color: #fff;
  padding: 3em;
  font-family: "Tahoma";
  text-align: left;
}
/* line 154, ../sass/hover_animate.scss */
.grid-list > ul > li .txt-box h2 {
  font-size: 24px;
  text-transform: uppercase;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 159, ../sass/hover_animate.scss */
.grid-list > ul > li .txt-box p {
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

/* line 170, ../sass/hover_animate.scss */
.hover-effect1 .img-box {
  opacity: .6;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
/* line 176, ../sass/hover_animate.scss */
.hover-effect1 .txt-box p,
.hover-effect1 .txt-box h2 {
  -webkit-transform: translate3d(0, 20px, 0) scale(1.1);
  transform: translate3d(0, 20px, 0) scale(1.1);
}
/* line 181, ../sass/hover_animate.scss */
.hover-effect1 .txt-box p {
  padding: 3%;
  border: 1px solid #fff;
  opacity: 0;
}
/* line 188, ../sass/hover_animate.scss */
.hover-effect1:hover .img-box {
  opacity: .8;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 194, ../sass/hover_animate.scss */
.hover-effect1:hover .txt-box p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
/* line 199, ../sass/hover_animate.scss */
.hover-effect1:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 208, ../sass/hover_animate.scss */
.hover-effect2 .img-box {
  opacity: .5;
}
/* line 211, ../sass/hover_animate.scss */
.hover-effect2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 10px;
  width: 100%;
  background: #fff;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 225, ../sass/hover_animate.scss */
.hover-effect2:hover .img-box {
  opacity: .9;
}
/* line 229, ../sass/hover_animate.scss */
.hover-effect2:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
}
/* line 234, ../sass/hover_animate.scss */
.hover-effect2:hover:before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 242, ../sass/hover_animate.scss */
.hover-effect3 .img-box {
  opacity: .7;
  -webkit-transform: translate3d(0, 0, 200px);
  transform: translate3d(0, 0, 200px);
}
/* line 248, ../sass/hover_animate.scss */
.hover-effect3 .txt-box h2 {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
/* line 252, ../sass/hover_animate.scss */
.hover-effect3 .txt-box p {
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}
/* line 257, ../sass/hover_animate.scss */
.hover-effect3:after, .hover-effect3:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 80%;
  height: 1px;
  background: #fff;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 272, ../sass/hover_animate.scss */
.hover-effect3:hover .img-box {
  opacity: .9;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 278, ../sass/hover_animate.scss */
.hover-effect3:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 282, ../sass/hover_animate.scss */
.hover-effect3:hover .txt-box p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 287, ../sass/hover_animate.scss */
.hover-effect3:hover:before {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}
/* line 291, ../sass/hover_animate.scss */
.hover-effect3:hover:after {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

/* line 299, ../sass/hover_animate.scss */
.hover-effect4 .img-box {
  width: 120%;
  opacity: .7;
  -webkit-transform: translate3d(-10%, 0, 0);
  transform: translate3d(-10%, 0, 0);
}
/* line 304, ../sass/hover_animate.scss */
.hover-effect4 .img-box img {
  width: 120%;
}
/* line 309, ../sass/hover_animate.scss */
.hover-effect4 .txt-box h2 {
  position: relative;
  text-align: left;
}
/* line 312, ../sass/hover_animate.scss */
.hover-effect4 .txt-box h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 327, ../sass/hover_animate.scss */
.hover-effect4 .txt-box p {
  opacity: 0;
  -webkit-transform: translate3d(50px, 0, 0);
  transform: translate3d(50px, 0, 0);
}
/* line 334, ../sass/hover_animate.scss */
.hover-effect4:hover .img-box {
  opacity: .9;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 341, ../sass/hover_animate.scss */
.hover-effect4:hover .txt-box h2:after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 346, ../sass/hover_animate.scss */
.hover-effect4:hover .txt-box p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 356, ../sass/hover_animate.scss */
.hover-effect5 .img-box {
  opacity: .7;
}
/* line 359, ../sass/hover_animate.scss */
.hover-effect5 .txt-box {
  position: relative;
}
/* line 361, ../sass/hover_animate.scss */
.hover-effect5 .txt-box:before, .hover-effect5 .txt-box:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 371, ../sass/hover_animate.scss */
.hover-effect5 .txt-box:before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
/* line 377, ../sass/hover_animate.scss */
.hover-effect5 .txt-box:after {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
/* line 383, ../sass/hover_animate.scss */
.hover-effect5 .txt-box h2 {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
/* line 387, ../sass/hover_animate.scss */
.hover-effect5 .txt-box p {
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}
/* line 394, ../sass/hover_animate.scss */
.hover-effect5:hover .img-box {
  opacity: .9;
}
/* line 398, ../sass/hover_animate.scss */
.hover-effect5:hover .txt-box:before, .hover-effect5:hover .txt-box:after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 403, ../sass/hover_animate.scss */
.hover-effect5:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 407, ../sass/hover_animate.scss */
.hover-effect5:hover .txt-box p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 417, ../sass/hover_animate.scss */
.hover-effect6 .img-box {
  height: 120%;
  opacity: .9;
  -webkit-transform: translate3d(0, -10%, 0);
  transform: translate3d(0, -10%, 0);
}
/* line 422, ../sass/hover_animate.scss */
.hover-effect6 .img-box img {
  height: 120%;
}
/* line 426, ../sass/hover_animate.scss */
.hover-effect6 .txt-box {
  position: relative;
}
/* line 428, ../sass/hover_animate.scss */
.hover-effect6 .txt-box p {
  opacity: 0;
}
/* line 431, ../sass/hover_animate.scss */
.hover-effect6 .txt-box:before, .hover-effect6 .txt-box:after {
  content: "";
  position: absolute;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 439, ../sass/hover_animate.scss */
.hover-effect6 .txt-box:before {
  width: 110%;
  height: 100%;
  left: -5%;
  top: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
/* line 449, ../sass/hover_animate.scss */
.hover-effect6 .txt-box:after {
  width: 100%;
  height: 110%;
  top: -5%;
  left: 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
/* line 461, ../sass/hover_animate.scss */
.hover-effect6:hover .img-box {
  opacity: .7;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 467, ../sass/hover_animate.scss */
.hover-effect6:hover .txt-box p {
  opacity: 1;
}
/* line 470, ../sass/hover_animate.scss */
.hover-effect6:hover .txt-box:before, .hover-effect6:hover .txt-box:after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
