/* line 11, ../sass/hover_animate.scss */
[class*="modal1-hover-effect"], .pop-wrap {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 800px;
  perspective: 800px;
}

/* line 18, ../sass/hover_animate.scss */
[class*="modal1-hover-effect"] {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 27, ../sass/hover_animate.scss */
[class*="modal1-hover-effect"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

/*==================== nav-style ====================*/
/* line 37, ../sass/hover_animate.scss */
.header .nav-wrap {
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(34, 32, 32, 0.3);
  z-index: 1;
}
/* line 41, ../sass/hover_animate.scss */
.header .nav-wrap .nav {
  height: 48px;
  line-height: 48px;
  background: #e1e3e4;
  border-bottom: 1px solid #d4cdcd;
}
/* line 47, ../sass/hover_animate.scss */
.header .nav-wrap .nav .menu > ul {
  overflow: hidden;
}
/* line 49, ../sass/hover_animate.scss */
.header .nav-wrap .nav .menu > ul > li {
  float: left;
  border-right: 1px solid #d2d6d5;
}
/* line 52, ../sass/hover_animate.scss */
.header .nav-wrap .nav .menu > ul > li:last-child {
  border-right: none;
}
/* line 55, ../sass/hover_animate.scss */
.header .nav-wrap .nav .menu > ul > li > span {
  position: relative;
  display: block;
  padding: 0 30px 0 15px;
  color: #313131;
  font-size: 15px;
  cursor: pointer;
}
/* line 62, ../sass/hover_animate.scss */
.header .nav-wrap .nav .menu > ul > li > span:before, .header .nav-wrap .nav .menu > ul > li > span:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 19px;
  width: 2px;
  height: 8px;
  margin-top: -3px;
  background: #A6ABAB;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
/* line 78, ../sass/hover_animate.scss */
.header .nav-wrap .nav .menu > ul > li > span:after {
  right: 15px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/* line 83, ../sass/hover_animate.scss */
.header .nav-wrap .nav .menu > ul > li > span.open, .header .nav-wrap .nav .menu > ul > li > span:hover {
  background-color: #F4F4F4;
}
/* line 86, ../sass/hover_animate.scss */
.header .nav-wrap .nav .menu > ul > li > span.open:before, .header .nav-wrap .nav .menu > ul > li > span:hover:before {
  right: 15px;
}
/* line 89, ../sass/hover_animate.scss */
.header .nav-wrap .nav .menu > ul > li > span.open:after, .header .nav-wrap .nav .menu > ul > li > span:hover:after {
  right: 19px;
}
/* line 98, ../sass/hover_animate.scss */
.header .nav-wrap .list-tags {
  position: relative;
  padding: 0;
  height: 0;
  overflow: hidden;
  background: #e1e3e4;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
/* line 106, ../sass/hover_animate.scss */
.header .nav-wrap .list-tags > ul > li {
  position: relative;
  float: left;
  margin: 0 6px 6px 0;
  line-height: 24px;
  font-size: 13px;
}
/* line 112, ../sass/hover_animate.scss */
.header .nav-wrap .list-tags > ul > li > a {
  display: block;
  height: 23px;
  padding: 0 10px;
  background: #F4F4F4;
  color: #313131;
  border-radius: 2px;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
/* line 121, ../sass/hover_animate.scss */
.header .nav-wrap .list-tags > ul > li > a:hover, .header .nav-wrap .list-tags > ul > li > a.current {
  background: #444 !important;
  color: #fff;
}
/* line 126, ../sass/hover_animate.scss */
.header .nav-wrap .list-tags > ul > li > a.popular {
  background-color: #3C948B;
  color: #fff;
}
/* line 133, ../sass/hover_animate.scss */
.header .nav-wrap .list-tags.show {
  padding: 30px 20px 24px 20px;
  height: auto;
  border-bottom: 1px solid #d2d6d5;
}
/* line 139, ../sass/hover_animate.scss */
.header .nav-wrap.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

/*==================== grid-list-style ====================*/
/* line 151, ../sass/hover_animate.scss */
.grid-list {
  position: relative;
  top: 65px;
  width: 1364px;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 158, ../sass/hover_animate.scss */
.grid-list > ul {
  margin-left: -23px;
  overflow: hidden;
}
/* line 161, ../sass/hover_animate.scss */
.grid-list > ul > li {
  float: left;
  margin: 0 0 35px 23px;
}
/* line 164, ../sass/hover_animate.scss */
.grid-list > ul > li [class*="hover-effect"] {
  width: 439px;
  height: 314px;
}

/*=========================== animate-style ========================*/
/* line 175, ../sass/hover_animate.scss */
[class*="modal1-hover-effect"] {
  position: relative;
  overflow: hidden;
  background: #3C948B;
  cursor: pointer;
  width: 620px;
  height: 380px;
}
/* line 185, ../sass/hover_animate.scss */
[class*="modal1-hover-effect"] .img-box {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
/* line 193, ../sass/hover_animate.scss */
[class*="modal1-hover-effect"] .txt-box {
  text-align: center;
  color: #fff;
  padding: 15%;
  font-family: "Tahoma";
}
/* line 198, ../sass/hover_animate.scss */
[class*="modal1-hover-effect"] .txt-box h2 {
  font-size: 24px;
  text-transform: uppercase;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
/* line 203, ../sass/hover_animate.scss */
[class*="modal1-hover-effect"] .txt-box p {
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

/* line 212, ../sass/hover_animate.scss */
.modal1-hover-effect0 .img-box {
  opacity: .6;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
/* line 218, ../sass/hover_animate.scss */
.modal1-hover-effect0 .txt-box p,
.modal1-hover-effect0 .txt-box h2 {
  -webkit-transform: translate3d(0, 20px, 0) scale(1.1);
  transform: translate3d(0, 20px, 0) scale(1.1);
}
/* line 223, ../sass/hover_animate.scss */
.modal1-hover-effect0 .txt-box p {
  padding: 3%;
  border: 1px solid #fff;
  opacity: 0;
}
/* line 230, ../sass/hover_animate.scss */
.modal1-hover-effect0:hover .img-box {
  opacity: .8;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 236, ../sass/hover_animate.scss */
.modal1-hover-effect0:hover .txt-box p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
/* line 241, ../sass/hover_animate.scss */
.modal1-hover-effect0:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 250, ../sass/hover_animate.scss */
.modal1-hover-effect1 .img-box {
  opacity: .5;
}
/* line 253, ../sass/hover_animate.scss */
.modal1-hover-effect1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 10px;
  width: 100%;
  background: #fff;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
/* line 267, ../sass/hover_animate.scss */
.modal1-hover-effect1:hover .img-box {
  opacity: .9;
}
/* line 271, ../sass/hover_animate.scss */
.modal1-hover-effect1:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
}
/* line 276, ../sass/hover_animate.scss */
.modal1-hover-effect1:hover:before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 284, ../sass/hover_animate.scss */
.modal1-hover-effect2 .img-box {
  opacity: .7;
  -webkit-transform: translate3d(0, 0, 200px);
  transform: translate3d(0, 0, 200px);
}
/* line 290, ../sass/hover_animate.scss */
.modal1-hover-effect2 .txt-box h2 {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
/* line 294, ../sass/hover_animate.scss */
.modal1-hover-effect2 .txt-box p {
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}
/* line 299, ../sass/hover_animate.scss */
.modal1-hover-effect2:after, .modal1-hover-effect2:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 60%;
  height: 1px;
  background: #fff;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
/* line 314, ../sass/hover_animate.scss */
.modal1-hover-effect2:hover .img-box {
  opacity: .9;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 320, ../sass/hover_animate.scss */
.modal1-hover-effect2:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 324, ../sass/hover_animate.scss */
.modal1-hover-effect2:hover .txt-box p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 329, ../sass/hover_animate.scss */
.modal1-hover-effect2:hover:before {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}
/* line 333, ../sass/hover_animate.scss */
.modal1-hover-effect2:hover:after {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

/* line 341, ../sass/hover_animate.scss */
.modal1-hover-effect3 .img-box {
  width: 120%;
  opacity: .7;
  -webkit-transform: translate3d(-10%, 0, 0);
  transform: translate3d(-10%, 0, 0);
}
/* line 346, ../sass/hover_animate.scss */
.modal1-hover-effect3 .img-box img {
  width: 120%;
}
/* line 351, ../sass/hover_animate.scss */
.modal1-hover-effect3 .txt-box h2 {
  position: relative;
  text-align: left;
}
/* line 354, ../sass/hover_animate.scss */
.modal1-hover-effect3 .txt-box h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
/* line 369, ../sass/hover_animate.scss */
.modal1-hover-effect3 .txt-box p {
  opacity: 0;
  -webkit-transform: translate3d(50px, 0, 0);
  transform: translate3d(50px, 0, 0);
}
/* line 376, ../sass/hover_animate.scss */
.modal1-hover-effect3:hover .img-box {
  opacity: .9;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 383, ../sass/hover_animate.scss */
.modal1-hover-effect3:hover .txt-box h2:after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 388, ../sass/hover_animate.scss */
.modal1-hover-effect3:hover .txt-box p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 398, ../sass/hover_animate.scss */
.modal1-hover-effect4 .img-box {
  opacity: .7;
}
/* line 401, ../sass/hover_animate.scss */
.modal1-hover-effect4 .txt-box {
  position: relative;
}
/* line 403, ../sass/hover_animate.scss */
.modal1-hover-effect4 .txt-box:before, .modal1-hover-effect4 .txt-box:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/* line 413, ../sass/hover_animate.scss */
.modal1-hover-effect4 .txt-box:before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
/* line 419, ../sass/hover_animate.scss */
.modal1-hover-effect4 .txt-box:after {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
/* line 425, ../sass/hover_animate.scss */
.modal1-hover-effect4 .txt-box h2 {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
/* line 429, ../sass/hover_animate.scss */
.modal1-hover-effect4 .txt-box p {
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}
/* line 436, ../sass/hover_animate.scss */
.modal1-hover-effect4:hover .img-box {
  opacity: .9;
}
/* line 440, ../sass/hover_animate.scss */
.modal1-hover-effect4:hover .txt-box:before, .modal1-hover-effect4:hover .txt-box:after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 445, ../sass/hover_animate.scss */
.modal1-hover-effect4:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 449, ../sass/hover_animate.scss */
.modal1-hover-effect4:hover .txt-box p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 459, ../sass/hover_animate.scss */
.modal1-hover-effect5 .img-box {
  height: 120%;
  opacity: .9;
  -webkit-transform: translate3d(0, -10%, 0);
  transform: translate3d(0, -10%, 0);
}
/* line 464, ../sass/hover_animate.scss */
.modal1-hover-effect5 .img-box img {
  height: 120%;
}
/* line 468, ../sass/hover_animate.scss */
.modal1-hover-effect5 .txt-box {
  position: relative;
}
/* line 470, ../sass/hover_animate.scss */
.modal1-hover-effect5 .txt-box p {
  opacity: 0;
}
/* line 473, ../sass/hover_animate.scss */
.modal1-hover-effect5 .txt-box:before, .modal1-hover-effect5 .txt-box:after {
  content: "";
  position: absolute;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
/* line 481, ../sass/hover_animate.scss */
.modal1-hover-effect5 .txt-box:before {
  width: 110%;
  height: 100%;
  left: -5%;
  top: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
/* line 491, ../sass/hover_animate.scss */
.modal1-hover-effect5 .txt-box:after {
  width: 100%;
  height: 110%;
  top: -5%;
  left: 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
/* line 503, ../sass/hover_animate.scss */
.modal1-hover-effect5:hover .img-box {
  opacity: .7;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 509, ../sass/hover_animate.scss */
.modal1-hover-effect5:hover .txt-box p {
  opacity: 1;
}
/* line 512, ../sass/hover_animate.scss */
.modal1-hover-effect5:hover .txt-box:before, .modal1-hover-effect5:hover .txt-box:after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* line 521, ../sass/hover_animate.scss */
.modal2-hover-effect0 {
  position: relative;
  width: 620px;
  height: 380px;
  overflow: hidden;
  cursor: pointer;
}
/* line 527, ../sass/hover_animate.scss */
.modal2-hover-effect0 .img-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 534, ../sass/hover_animate.scss */
.modal2-hover-effect0 .mask1,
.modal2-hover-effect0 .mask2 {
  position: absolute;
  width: 200%;
  height: 200%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
/* line 542, ../sass/hover_animate.scss */
.modal2-hover-effect0 .mask1 {
  left: 0;
  top: 0;
  transform: translate(-121%, -50%) rotate(144deg);
}
/* line 547, ../sass/hover_animate.scss */
.modal2-hover-effect0 .mask2 {
  right: 0;
  bottom: 0;
  transform: translate(104%, 84%) rotate(-126deg);
}
/* line 552, ../sass/hover_animate.scss */
.modal2-hover-effect0 .txt-box {
  padding: 30px 0;
  background: #111;
  color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0;
  -webkit-transform: translate(0, -50%) rotate(-30deg) scale(1, 0);
  transform: translate(0, -50%) rotate(-30deg) scale(1, 0);
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease-out 0.4s;
  transition: all 0.3s ease-out 0.4s;
}
/* line 567, ../sass/hover_animate.scss */
.modal2-hover-effect0:hover .mask1 {
  transform: translate(-61%, -50%) rotate(144deg);
}
/* line 570, ../sass/hover_animate.scss */
.modal2-hover-effect0:hover .mask2 {
  transform: translate(52%, 84%) rotate(-126deg);
}
/* line 573, ../sass/hover_animate.scss */
.modal2-hover-effect0:hover .txt-box {
  opacity: 1;
  -webkit-transform: translate(0, -50%) rotate(0) scale(1, 1);
  transform: translate(0, -50%) rotate(0) scale(1, 1);
}

/*=========================== pop-element-animate-style ========================*/
/* line 584, ../sass/hover_animate.scss */
.pop-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: none;
}

/* line 595, ../sass/hover_animate.scss */
.pop-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  width: 660px;
  height: 420px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 605, ../sass/hover_animate.scss */
.pop-wrap .pop-inner {
  width: 640px;
  height: 400px;
  padding: 10px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateZ(600px) rotateX(20deg);
  transform: translateZ(600px) rotateX(20deg);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/* line 616, ../sass/hover_animate.scss */
.pop-wrap .pop-inner img {
  border-radius: 3px;
}
/* line 619, ../sass/hover_animate.scss */
.pop-wrap .pop-inner .pop-close {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 32px;
  height: 32px;
  background: #fff;
  line-height: 32px;
  border-radius: 50%;
}
/* line 628, ../sass/hover_animate.scss */
.pop-wrap .pop-inner .pop-close:before, .pop-wrap .pop-inner .pop-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 14px;
  background: #888;
}
/* line 638, ../sass/hover_animate.scss */
.pop-wrap .pop-inner .pop-close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
/* line 642, ../sass/hover_animate.scss */
.pop-wrap .pop-inner .pop-close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
/* line 647, ../sass/hover_animate.scss */
.pop-wrap .pop-inner .pop-link {
  position: absolute;
  right: 0;
  bottom: -22px;
  font-size: 14px;
  color: #fff;
  text-decoration: underline;
}
/* line 656, ../sass/hover_animate.scss */
.pop-wrap.element-show {
  z-index: 99999;
}
/* line 658, ../sass/hover_animate.scss */
.pop-wrap.element-show .pop-inner {
  opacity: 1;
  -webkit-transform: translateZ(0) rotateX(0);
  transform: translateZ(0) rotateX(0);
}
