/*==================== content-style ====================*/
/* line 4, ../sass/hover_animate.scss */
.hover-grid [class*="grid-box"] {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 17, ../sass/hover_animate.scss */
.hover-grid [class*="grid-box"] .img-box {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 28, ../sass/hover_animate.scss */
.hover-grid [class*="grid-box"] .txt-box {
  text-align: center;
  color: #fff;
  padding: 10%;
}
/* line 32, ../sass/hover_animate.scss */
.hover-grid [class*="grid-box"] .txt-box h2 {
  font-size: 24px;
  text-transform: uppercase;
}
/* line 36, ../sass/hover_animate.scss */
.hover-grid [class*="grid-box"] .txt-box p {
  font-size: 14px;
  letter-spacing: 1px;
}
/* line 42, ../sass/hover_animate.scss */
.hover-grid .grid-box1 {
  left: 0;
  top: 0;
  width: 25%;
  height: 50%;
}
/* line 47, ../sass/hover_animate.scss */
.hover-grid .grid-box1 .img-box {
  background-image: url(../images/thumbs/1.jpg);
}
/* line 51, ../sass/hover_animate.scss */
.hover-grid .grid-box2 {
  left: 0;
  top: 50%;
  width: 25%;
  height: 50%;
}
/* line 56, ../sass/hover_animate.scss */
.hover-grid .grid-box2 .img-box {
  background-image: url(../images/thumbs/2.jpg);
}
/* line 60, ../sass/hover_animate.scss */
.hover-grid .grid-box3 {
  left: 25%;
  top: 0;
  width: 25%;
  height: 100%;
}
/* line 65, ../sass/hover_animate.scss */
.hover-grid .grid-box3 .img-box {
  background-image: url(../images/thumbs/5.jpg);
}
/* line 69, ../sass/hover_animate.scss */
.hover-grid .grid-box4 {
  left: 50%;
  top: 0;
  width: 50%;
  height: 50%;
}
/* line 74, ../sass/hover_animate.scss */
.hover-grid .grid-box4 .img-box {
  background-image: url(../images/thumbs/6.jpg);
}
/* line 78, ../sass/hover_animate.scss */
.hover-grid .grid-box5 {
  left: 50%;
  top: 50%;
  width: 25%;
  height: 50%;
}
/* line 83, ../sass/hover_animate.scss */
.hover-grid .grid-box5 .img-box {
  background-image: url(../images/bg.jpg);
}
/* line 87, ../sass/hover_animate.scss */
.hover-grid .grid-box6 {
  left: 75%;
  top: 50%;
  width: 25%;
  height: 50%;
}
/* line 92, ../sass/hover_animate.scss */
.hover-grid .grid-box6 .img-box {
  background-image: url(../images/thumbs/12.jpg);
}

/*=========================== animate-style ========================*/
/* line 106, ../sass/hover_animate.scss */
.img-box,
.txt-box h2,
.txt-box p {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

/* line 113, ../sass/hover_animate.scss */
.hover-effect1 .img-box {
  opacity: .6;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
/* line 119, ../sass/hover_animate.scss */
.hover-effect1 .txt-box p,
.hover-effect1 .txt-box h2 {
  -webkit-transform: translate3d(0, 20px, 0) scale(1.1);
  transform: translate3d(0, 20px, 0) scale(1.1);
}
/* line 124, ../sass/hover_animate.scss */
.hover-effect1 .txt-box p {
  padding: 3%;
  border: 1px solid #fff;
  opacity: 0;
}
/* line 131, ../sass/hover_animate.scss */
.hover-effect1:hover .img-box {
  opacity: .8;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 137, ../sass/hover_animate.scss */
.hover-effect1:hover .txt-box p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
/* line 142, ../sass/hover_animate.scss */
.hover-effect1:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 151, ../sass/hover_animate.scss */
.hover-effect2 .img-box {
  opacity: .5;
}
/* line 154, ../sass/hover_animate.scss */
.hover-effect2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  background: #fff;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 167, ../sass/hover_animate.scss */
.hover-effect2:hover .img-box {
  opacity: .9;
}
/* line 171, ../sass/hover_animate.scss */
.hover-effect2:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
}
/* line 176, ../sass/hover_animate.scss */
.hover-effect2:hover:before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 183, ../sass/hover_animate.scss */
.hover-effect3 {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
/* line 186, ../sass/hover_animate.scss */
.hover-effect3 .img-box {
  -webkit-transform: translate3d(0, 0, 200px);
  transform: translate3d(0, 0, 200px);
}
/* line 191, ../sass/hover_animate.scss */
.hover-effect3 .txt-box h2 {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
/* line 195, ../sass/hover_animate.scss */
.hover-effect3 .txt-box p {
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}
/* line 200, ../sass/hover_animate.scss */
.hover-effect3:after, .hover-effect3:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 80%;
  height: 1px;
  background: #fff;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 214, ../sass/hover_animate.scss */
.hover-effect3:hover .img-box {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 219, ../sass/hover_animate.scss */
.hover-effect3:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 223, ../sass/hover_animate.scss */
.hover-effect3:hover .txt-box p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 228, ../sass/hover_animate.scss */
.hover-effect3:hover:before {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}
/* line 232, ../sass/hover_animate.scss */
.hover-effect3:hover:after {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

/* line 240, ../sass/hover_animate.scss */
.hover-effect4 .img-box {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
}
/* line 245, ../sass/hover_animate.scss */
.hover-effect4 .txt-box h2 {
  position: relative;
  text-align: left;
}
/* line 248, ../sass/hover_animate.scss */
.hover-effect4 .txt-box h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 263, ../sass/hover_animate.scss */
.hover-effect4 .txt-box p {
  opacity: 0;
  -webkit-transform: translate3d(50px, 0, 0);
  transform: translate3d(50px, 0, 0);
}
/* line 270, ../sass/hover_animate.scss */
.hover-effect4:hover .img-box {
  opacity: .4;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 277, ../sass/hover_animate.scss */
.hover-effect4:hover .txt-box h2:after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 282, ../sass/hover_animate.scss */
.hover-effect4:hover .txt-box p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 292, ../sass/hover_animate.scss */
.hover-effect5 .img-box {
  opacity: .7;
}
/* line 295, ../sass/hover_animate.scss */
.hover-effect5 .txt-box {
  position: relative;
}
/* line 297, ../sass/hover_animate.scss */
.hover-effect5 .txt-box:before, .hover-effect5 .txt-box:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 307, ../sass/hover_animate.scss */
.hover-effect5 .txt-box:before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
/* line 313, ../sass/hover_animate.scss */
.hover-effect5 .txt-box:after {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
/* line 319, ../sass/hover_animate.scss */
.hover-effect5 .txt-box h2 {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
/* line 323, ../sass/hover_animate.scss */
.hover-effect5 .txt-box p {
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}
/* line 330, ../sass/hover_animate.scss */
.hover-effect5:hover .img-box {
  opacity: .9;
}
/* line 334, ../sass/hover_animate.scss */
.hover-effect5:hover .txt-box:before, .hover-effect5:hover .txt-box:after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 339, ../sass/hover_animate.scss */
.hover-effect5:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 343, ../sass/hover_animate.scss */
.hover-effect5:hover .txt-box p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
