/*==================== content-style ====================*/
/* line 3, ../sass/hover_animate.scss */
[class*="grid-box"] {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  background: #3085a3;
}
/* line 19, ../sass/hover_animate.scss */
[class*="grid-box"] .img-box {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 30, ../sass/hover_animate.scss */
[class*="grid-box"] .txt-box {
  text-align: center;
  color: #fff;
  padding: 10%;
}
/* line 34, ../sass/hover_animate.scss */
[class*="grid-box"] .txt-box h2 {
  font-size: 24px;
  text-transform: uppercase;
}
/* line 38, ../sass/hover_animate.scss */
[class*="grid-box"] .txt-box p {
  font-size: 14px;
  letter-spacing: 1px;
}

/* line 45, ../sass/hover_animate.scss */
.grid-box1 {
  left: 0;
  top: 0;
  width: 25%;
  height: 50%;
}
/* line 50, ../sass/hover_animate.scss */
.grid-box1 .img-box {
  background-image: url(../images/thumbs/11.jpg);
}

/* line 55, ../sass/hover_animate.scss */
.grid-box2 {
  left: 0;
  top: 50%;
  width: 25%;
  height: 50%;
}
/* line 60, ../sass/hover_animate.scss */
.grid-box2 .img-box {
  background-image: url(../images/thumbs/7.jpg);
}

/* line 65, ../sass/hover_animate.scss */
.grid-box3 {
  left: 25%;
  top: 0;
  width: 25%;
  height: 100%;
}
/* line 70, ../sass/hover_animate.scss */
.grid-box3 .img-box {
  background-image: url(../images/thumbs/1.jpg);
}

/* line 75, ../sass/hover_animate.scss */
.grid-box4 {
  left: 50%;
  top: 0;
  width: 50%;
  height: 50%;
}
/* line 80, ../sass/hover_animate.scss */
.grid-box4 .img-box {
  background-image: url(../images/thumbs/5.jpg);
}

/* line 85, ../sass/hover_animate.scss */
.grid-box5 {
  left: 50%;
  top: 50%;
  width: 25%;
  height: 50%;
  background: transparent;
}
/* line 91, ../sass/hover_animate.scss */
.grid-box5 .img-box {
  background-image: url(../images/bg.jpg);
}

/* line 96, ../sass/hover_animate.scss */
.grid-box6 {
  left: 75%;
  top: 50%;
  width: 25%;
  height: 50%;
}
/* line 101, ../sass/hover_animate.scss */
.grid-box6 .img-box {
  background-image: url(../images/thumbs/6.jpg);
}

/*=========================== animate-style ========================*/
/* line 114, ../sass/hover_animate.scss */
.img-box,
.txt-box h2,
.txt-box p {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

/* line 121, ../sass/hover_animate.scss */
.hover-effect1 .img-box {
  opacity: .6;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
/* line 127, ../sass/hover_animate.scss */
.hover-effect1 .txt-box p,
.hover-effect1 .txt-box h2 {
  -webkit-transform: translate3d(0, 20px, 0) scale(1.1);
  transform: translate3d(0, 20px, 0) scale(1.1);
}
/* line 132, ../sass/hover_animate.scss */
.hover-effect1 .txt-box p {
  padding: 3%;
  border: 1px solid #fff;
  opacity: 0;
}
/* line 139, ../sass/hover_animate.scss */
.hover-effect1:hover .img-box {
  opacity: .8;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 145, ../sass/hover_animate.scss */
.hover-effect1:hover .txt-box p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
/* line 150, ../sass/hover_animate.scss */
.hover-effect1:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 159, ../sass/hover_animate.scss */
.hover-effect2 .img-box {
  opacity: .5;
}
/* line 162, ../sass/hover_animate.scss */
.hover-effect2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  background: #fff;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 175, ../sass/hover_animate.scss */
.hover-effect2:hover .img-box {
  opacity: .9;
}
/* line 179, ../sass/hover_animate.scss */
.hover-effect2:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
}
/* line 184, ../sass/hover_animate.scss */
.hover-effect2:hover:before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 192, ../sass/hover_animate.scss */
.hover-effect3 .img-box {
  opacity: .7;
  -webkit-transform: translate3d(0, 0, 200px);
  transform: translate3d(0, 0, 200px);
}
/* line 198, ../sass/hover_animate.scss */
.hover-effect3 .txt-box h2 {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
/* line 202, ../sass/hover_animate.scss */
.hover-effect3 .txt-box p {
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}
/* line 207, ../sass/hover_animate.scss */
.hover-effect3:after, .hover-effect3:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 80%;
  height: 1px;
  background: #fff;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 221, ../sass/hover_animate.scss */
.hover-effect3:hover .img-box {
  opacity: .9;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 227, ../sass/hover_animate.scss */
.hover-effect3:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 231, ../sass/hover_animate.scss */
.hover-effect3:hover .txt-box p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 236, ../sass/hover_animate.scss */
.hover-effect3:hover:before {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}
/* line 240, ../sass/hover_animate.scss */
.hover-effect3:hover:after {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

/* line 248, ../sass/hover_animate.scss */
.hover-effect4 .img-box {
  width: 120%;
  opacity: .7;
  -webkit-transform: translate3d(-10%, 0, 0);
  transform: translate3d(-10%, 0, 0);
}
/* line 255, ../sass/hover_animate.scss */
.hover-effect4 .txt-box h2 {
  position: relative;
  text-align: left;
}
/* line 258, ../sass/hover_animate.scss */
.hover-effect4 .txt-box h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 273, ../sass/hover_animate.scss */
.hover-effect4 .txt-box p {
  opacity: 0;
  -webkit-transform: translate3d(50px, 0, 0);
  transform: translate3d(50px, 0, 0);
}
/* line 280, ../sass/hover_animate.scss */
.hover-effect4:hover .img-box {
  opacity: .9;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 287, ../sass/hover_animate.scss */
.hover-effect4:hover .txt-box h2:after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 292, ../sass/hover_animate.scss */
.hover-effect4:hover .txt-box p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 302, ../sass/hover_animate.scss */
.hover-effect5 .img-box {
  opacity: .7;
}
/* line 305, ../sass/hover_animate.scss */
.hover-effect5 .txt-box {
  position: relative;
}
/* line 307, ../sass/hover_animate.scss */
.hover-effect5 .txt-box:before, .hover-effect5 .txt-box:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 317, ../sass/hover_animate.scss */
.hover-effect5 .txt-box:before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
/* line 323, ../sass/hover_animate.scss */
.hover-effect5 .txt-box:after {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
/* line 329, ../sass/hover_animate.scss */
.hover-effect5 .txt-box h2 {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
/* line 333, ../sass/hover_animate.scss */
.hover-effect5 .txt-box p {
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}
/* line 340, ../sass/hover_animate.scss */
.hover-effect5:hover .img-box {
  opacity: .9;
}
/* line 344, ../sass/hover_animate.scss */
.hover-effect5:hover .txt-box:before, .hover-effect5:hover .txt-box:after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 349, ../sass/hover_animate.scss */
.hover-effect5:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 353, ../sass/hover_animate.scss */
.hover-effect5:hover .txt-box p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 363, ../sass/hover_animate.scss */
.hover-effect6 .img-box {
  height: 120%;
  opacity: .9;
  -webkit-transform: translate3d(0, -10%, 0);
  transform: translate3d(0, -10%, 0);
}
/* line 369, ../sass/hover_animate.scss */
.hover-effect6 .txt-box {
  position: relative;
}
/* line 371, ../sass/hover_animate.scss */
.hover-effect6 .txt-box p {
  opacity: 0;
}
/* line 374, ../sass/hover_animate.scss */
.hover-effect6 .txt-box:before, .hover-effect6 .txt-box:after {
  content: "";
  position: absolute;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
/* line 382, ../sass/hover_animate.scss */
.hover-effect6 .txt-box:before {
  width: 120%;
  height: 100%;
  left: -10%;
  top: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
/* line 392, ../sass/hover_animate.scss */
.hover-effect6 .txt-box:after {
  width: 100%;
  height: 120%;
  top: -10%;
  left: 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
/* line 404, ../sass/hover_animate.scss */
.hover-effect6:hover .img-box {
  opacity: .7;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 410, ../sass/hover_animate.scss */
.hover-effect6:hover .txt-box p {
  opacity: 1;
}
/* line 413, ../sass/hover_animate.scss */
.hover-effect6:hover .txt-box:before, .hover-effect6:hover .txt-box:after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
