/* line 16, ../sass/hover_animate.scss */
[class*="modal1-hover-effect"], .pop-wrap {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 800px;
  perspective: 800px;
}

/* line 23, ../sass/hover_animate.scss */
[class*="modal1-hover-effect"] {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 32, ../sass/hover_animate.scss */
[class*="modal1-hover-effect"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

/*==================== nav-style ====================*/
/* line 42, ../sass/hover_animate.scss */
.header .nav-wrap {
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(34, 32, 32, 0.3);
  z-index: 3;
}
/* line 46, ../sass/hover_animate.scss */
.header .nav-wrap .nav {
  height: 48px;
  line-height: 48px;
  background: #e1e3e4;
  border-bottom: 1px solid #d4cdcd;
}
/* line 52, ../sass/hover_animate.scss */
.header .nav-wrap .nav .menu > ul {
  overflow: hidden;
}
/* line 54, ../sass/hover_animate.scss */
.header .nav-wrap .nav .menu > ul > li {
  float: left;
  border-right: 1px solid #d2d6d5;
}
/* line 57, ../sass/hover_animate.scss */
.header .nav-wrap .nav .menu > ul > li:last-child {
  border-right: none;
}
/* line 60, ../sass/hover_animate.scss */
.header .nav-wrap .nav .menu > ul > li > span {
  position: relative;
  display: block;
  padding: 0 30px 0 15px;
  color: #313131;
  font-size: 15px;
  cursor: pointer;
}
/* line 67, ../sass/hover_animate.scss */
.header .nav-wrap .nav .menu > ul > li > span:before, .header .nav-wrap .nav .menu > ul > li > span:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 19px;
  width: 2px;
  height: 8px;
  margin-top: -3px;
  background: #A6ABAB;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
/* line 83, ../sass/hover_animate.scss */
.header .nav-wrap .nav .menu > ul > li > span:after {
  right: 15px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/* line 88, ../sass/hover_animate.scss */
.header .nav-wrap .nav .menu > ul > li > span.open, .header .nav-wrap .nav .menu > ul > li > span:hover {
  background-color: #F4F4F4;
}
/* line 91, ../sass/hover_animate.scss */
.header .nav-wrap .nav .menu > ul > li > span.open:before, .header .nav-wrap .nav .menu > ul > li > span:hover:before {
  right: 15px;
}
/* line 94, ../sass/hover_animate.scss */
.header .nav-wrap .nav .menu > ul > li > span.open:after, .header .nav-wrap .nav .menu > ul > li > span:hover:after {
  right: 19px;
}
/* line 103, ../sass/hover_animate.scss */
.header .nav-wrap .list-tags {
  position: relative;
  padding: 0;
  height: 0;
  overflow: hidden;
  background: #e1e3e4;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
/* line 111, ../sass/hover_animate.scss */
.header .nav-wrap .list-tags > ul > li {
  position: relative;
  float: left;
  margin: 0 6px 6px 0;
  line-height: 24px;
  font-size: 13px;
}
/* line 117, ../sass/hover_animate.scss */
.header .nav-wrap .list-tags > ul > li > a {
  display: block;
  height: 23px;
  padding: 0 10px;
  background: #F4F4F4;
  color: #313131;
  border-radius: 2px;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
/* line 126, ../sass/hover_animate.scss */
.header .nav-wrap .list-tags > ul > li > a:hover, .header .nav-wrap .list-tags > ul > li > a.current {
  background: #444 !important;
  color: #fff;
}
/* line 131, ../sass/hover_animate.scss */
.header .nav-wrap .list-tags > ul > li > a.popular {
  background-color: #3C948B;
  color: #fff;
}
/* line 138, ../sass/hover_animate.scss */
.header .nav-wrap .list-tags.show {
  padding: 30px 20px 24px 20px;
  height: auto;
  border-bottom: 1px solid #d2d6d5;
}
/* line 144, ../sass/hover_animate.scss */
.header .nav-wrap.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

/*==================== grid-list-style ====================*/
/* line 156, ../sass/hover_animate.scss */
.grid-list {
  position: relative;
  top: 65px;
  width: 1364px;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 163, ../sass/hover_animate.scss */
.grid-list > ul {
  margin-left: -23px;
  overflow: hidden;
}
/* line 166, ../sass/hover_animate.scss */
.grid-list > ul > li {
  position: relative;
  float: left;
  margin: 0 0 35px 23px;
  width: 439px;
  height: 314px;
  background: #fff;
  cursor: pointer;
}

/*=========================== animate-style ========================*/
/* line 181, ../sass/hover_animate.scss */
[class*="modal1-hover-effect"], [class*="modal2-hover-effect"] {
  position: relative;
  overflow: hidden;
  background: #3C948B;
  cursor: pointer;
  width: 439px;
  height: 314px;
  border: 5px solid #fff;
}
/* line 189, ../sass/hover_animate.scss */
[class*="modal1-hover-effect"] .img-box, [class*="modal2-hover-effect"] .img-box {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
/* line 197, ../sass/hover_animate.scss */
[class*="modal1-hover-effect"] .txt-box, [class*="modal2-hover-effect"] .txt-box {
  text-align: center;
  color: #fff;
  padding: 15%;
  font-family: "Tahoma";
}
/* line 202, ../sass/hover_animate.scss */
[class*="modal1-hover-effect"] .txt-box h2, [class*="modal2-hover-effect"] .txt-box h2 {
  font-size: 24px;
  text-transform: uppercase;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
/* line 207, ../sass/hover_animate.scss */
[class*="modal1-hover-effect"] .txt-box p, [class*="modal2-hover-effect"] .txt-box p {
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}

/* line 223, ../sass/hover_animate.scss */
.modal1-hover-effect0 .img-box {
  opacity: .6;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
/* line 229, ../sass/hover_animate.scss */
.modal1-hover-effect0 .txt-box p,
.modal1-hover-effect0 .txt-box h2 {
  -webkit-transform: translate3d(0, 20px, 0) scale(1.1);
  transform: translate3d(0, 20px, 0) scale(1.1);
}
/* line 234, ../sass/hover_animate.scss */
.modal1-hover-effect0 .txt-box p {
  padding: 3%;
  border: 1px solid #fff;
  opacity: 0;
}
/* line 241, ../sass/hover_animate.scss */
.modal1-hover-effect0:hover .img-box {
  opacity: .8;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* line 247, ../sass/hover_animate.scss */
.modal1-hover-effect0:hover .txt-box p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
/* line 252, ../sass/hover_animate.scss */
.modal1-hover-effect0:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 261, ../sass/hover_animate.scss */
.modal1-hover-effect1 .img-box {
  opacity: .5;
}
/* line 264, ../sass/hover_animate.scss */
.modal1-hover-effect1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 10px;
  width: 100%;
  background: #fff;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
/* line 278, ../sass/hover_animate.scss */
.modal1-hover-effect1:hover .img-box {
  opacity: .9;
}
/* line 282, ../sass/hover_animate.scss */
.modal1-hover-effect1:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
}
/* line 287, ../sass/hover_animate.scss */
.modal1-hover-effect1:hover:before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 295, ../sass/hover_animate.scss */
.modal1-hover-effect2 .img-box {
  opacity: .7;
  -webkit-transform: translate3d(0, 0, 200px);
  transform: translate3d(0, 0, 200px);
}
/* line 301, ../sass/hover_animate.scss */
.modal1-hover-effect2 .txt-box h2 {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
/* line 305, ../sass/hover_animate.scss */
.modal1-hover-effect2 .txt-box p {
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}
/* line 310, ../sass/hover_animate.scss */
.modal1-hover-effect2:after, .modal1-hover-effect2:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 60%;
  height: 1px;
  background: #fff;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
/* line 325, ../sass/hover_animate.scss */
.modal1-hover-effect2:hover .img-box {
  opacity: .9;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 331, ../sass/hover_animate.scss */
.modal1-hover-effect2:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 335, ../sass/hover_animate.scss */
.modal1-hover-effect2:hover .txt-box p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 340, ../sass/hover_animate.scss */
.modal1-hover-effect2:hover:before {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}
/* line 344, ../sass/hover_animate.scss */
.modal1-hover-effect2:hover:after {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

/* line 352, ../sass/hover_animate.scss */
.modal1-hover-effect3 .img-box {
  width: 120%;
  opacity: .7;
  -webkit-transform: translate3d(-10%, 0, 0);
  transform: translate3d(-10%, 0, 0);
}
/* line 357, ../sass/hover_animate.scss */
.modal1-hover-effect3 .img-box img {
  width: 120%;
}
/* line 362, ../sass/hover_animate.scss */
.modal1-hover-effect3 .txt-box h2 {
  position: relative;
  text-align: left;
}
/* line 365, ../sass/hover_animate.scss */
.modal1-hover-effect3 .txt-box h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
/* line 380, ../sass/hover_animate.scss */
.modal1-hover-effect3 .txt-box p {
  opacity: 0;
  -webkit-transform: translate3d(50px, 0, 0);
  transform: translate3d(50px, 0, 0);
}
/* line 387, ../sass/hover_animate.scss */
.modal1-hover-effect3:hover .img-box {
  opacity: .9;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 394, ../sass/hover_animate.scss */
.modal1-hover-effect3:hover .txt-box h2:after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 399, ../sass/hover_animate.scss */
.modal1-hover-effect3:hover .txt-box p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 409, ../sass/hover_animate.scss */
.modal1-hover-effect4 .img-box {
  opacity: .7;
}
/* line 412, ../sass/hover_animate.scss */
.modal1-hover-effect4 .txt-box {
  position: relative;
}
/* line 414, ../sass/hover_animate.scss */
.modal1-hover-effect4 .txt-box:before, .modal1-hover-effect4 .txt-box:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/* line 424, ../sass/hover_animate.scss */
.modal1-hover-effect4 .txt-box:before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
/* line 430, ../sass/hover_animate.scss */
.modal1-hover-effect4 .txt-box:after {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
/* line 436, ../sass/hover_animate.scss */
.modal1-hover-effect4 .txt-box h2 {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
/* line 440, ../sass/hover_animate.scss */
.modal1-hover-effect4 .txt-box p {
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}
/* line 447, ../sass/hover_animate.scss */
.modal1-hover-effect4:hover .img-box {
  opacity: .9;
}
/* line 451, ../sass/hover_animate.scss */
.modal1-hover-effect4:hover .txt-box:before, .modal1-hover-effect4:hover .txt-box:after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 456, ../sass/hover_animate.scss */
.modal1-hover-effect4:hover .txt-box h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 460, ../sass/hover_animate.scss */
.modal1-hover-effect4:hover .txt-box p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 470, ../sass/hover_animate.scss */
.modal1-hover-effect5 .img-box {
  height: 120%;
  opacity: .9;
  -webkit-transform: translate3d(0, -10%, 0);
  transform: translate3d(0, -10%, 0);
}
/* line 475, ../sass/hover_animate.scss */
.modal1-hover-effect5 .img-box img {
  height: 120%;
}
/* line 479, ../sass/hover_animate.scss */
.modal1-hover-effect5 .txt-box {
  position: relative;
}
/* line 481, ../sass/hover_animate.scss */
.modal1-hover-effect5 .txt-box p {
  opacity: 0;
}
/* line 484, ../sass/hover_animate.scss */
.modal1-hover-effect5 .txt-box:before, .modal1-hover-effect5 .txt-box:after {
  content: "";
  position: absolute;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
/* line 492, ../sass/hover_animate.scss */
.modal1-hover-effect5 .txt-box:before {
  width: 110%;
  height: 100%;
  left: -5%;
  top: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
/* line 502, ../sass/hover_animate.scss */
.modal1-hover-effect5 .txt-box:after {
  width: 100%;
  height: 110%;
  top: -5%;
  left: 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}
/* line 514, ../sass/hover_animate.scss */
.modal1-hover-effect5:hover .img-box {
  opacity: .7;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 520, ../sass/hover_animate.scss */
.modal1-hover-effect5:hover .txt-box p {
  opacity: 1;
}
/* line 523, ../sass/hover_animate.scss */
.modal1-hover-effect5:hover .txt-box:before, .modal1-hover-effect5:hover .txt-box:after {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* line 537, ../sass/hover_animate.scss */
.modal2-hover-effect0 .mask1,
.modal2-hover-effect0 .mask2 {
  position: absolute;
  width: 200%;
  height: 200%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
/* line 545, ../sass/hover_animate.scss */
.modal2-hover-effect0 .mask1 {
  left: 0;
  top: 0;
  transform: translate(-121%, -50%) rotate(144deg);
}
/* line 550, ../sass/hover_animate.scss */
.modal2-hover-effect0 .mask2 {
  right: 0;
  bottom: 0;
  transform: translate(104%, 84%) rotate(-126deg);
}
/* line 555, ../sass/hover_animate.scss */
.modal2-hover-effect0 .mid-box {
  padding: 30px 0;
  background: #111;
  color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0;
  -webkit-transform: translate(0, -50%) rotate(-30deg) scale(1, 0);
  transform: translate(0, -50%) rotate(-30deg) scale(1, 0);
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease-out 0.4s;
  transition: all 0.3s ease-out 0.4s;
}
/* line 570, ../sass/hover_animate.scss */
.modal2-hover-effect0:hover .mask1 {
  transform: translate(-61%, -50%) rotate(144deg);
}
/* line 573, ../sass/hover_animate.scss */
.modal2-hover-effect0:hover .mask2 {
  transform: translate(52%, 84%) rotate(-126deg);
}
/* line 576, ../sass/hover_animate.scss */
.modal2-hover-effect0:hover .mid-box {
  opacity: 1;
  -webkit-transform: translate(0, -50%) rotate(0) scale(1, 1);
  transform: translate(0, -50%) rotate(0) scale(1, 1);
}

/* line 585, ../sass/hover_animate.scss */
.modal2-hover-effect1 .top-tit {
  position: absolute;
  left: 0;
  padding: 20px 0;
  width: 100%;
  background: #333;
  z-index: 1;
  text-align: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
}
/* line 597, ../sass/hover_animate.scss */
.modal2-hover-effect1 .img-box {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 602, ../sass/hover_animate.scss */
.modal2-hover-effect1.toBottom .top-tit {
  top: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
/* line 608, ../sass/hover_animate.scss */
.modal2-hover-effect1.toBottom:hover .img-box {
  -webkit-transform: translate3d(0, 20%, 0);
  transform: translate3d(0, 20%, 0);
}
/* line 612, ../sass/hover_animate.scss */
.modal2-hover-effect1.toBottom:hover .top-tit {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 620, ../sass/hover_animate.scss */
.modal2-hover-effect1.toTop .top-tit {
  bottom: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
/* line 626, ../sass/hover_animate.scss */
.modal2-hover-effect1.toTop:hover .img-box {
  -webkit-transform: translate3d(0, -20%, 0);
  transform: translate3d(0, -20%, 0);
}
/* line 630, ../sass/hover_animate.scss */
.modal2-hover-effect1.toTop:hover .top-tit {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 640, ../sass/hover_animate.scss */
.modal2-hover-effect2 .txt-box {
  position: relative;
  padding: 15px;
  z-index: 1;
  background: #333;
}

/*=========================== pop-element-animate-style ========================*/
/* line 651, ../sass/hover_animate.scss */
.pop-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: none;
}

/* line 662, ../sass/hover_animate.scss */
.pop-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  width: 660px;
  height: 420px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 672, ../sass/hover_animate.scss */
.pop-wrap .pop-inner {
  width: 640px;
  height: 400px;
  padding: 10px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateZ(600px) rotateX(20deg);
  transform: translateZ(600px) rotateX(20deg);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/* line 683, ../sass/hover_animate.scss */
.pop-wrap .pop-inner [class*="hover-effect"] {
  width: 620px;
  height: 380px;
}
/* line 687, ../sass/hover_animate.scss */
.pop-wrap .pop-inner img {
  border-radius: 3px;
}
/* line 690, ../sass/hover_animate.scss */
.pop-wrap .pop-inner .pop-close {
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 1;
  width: 32px;
  height: 32px;
  background: #fff;
  line-height: 32px;
  border-radius: 50%;
}
/* line 700, ../sass/hover_animate.scss */
.pop-wrap .pop-inner .pop-close:before, .pop-wrap .pop-inner .pop-close:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 14px;
  background: #888;
}
/* line 710, ../sass/hover_animate.scss */
.pop-wrap .pop-inner .pop-close:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
/* line 714, ../sass/hover_animate.scss */
.pop-wrap .pop-inner .pop-close:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
/* line 719, ../sass/hover_animate.scss */
.pop-wrap .pop-inner .pop-link {
  position: absolute;
  right: 0;
  bottom: -22px;
  font-size: 14px;
  color: #fff;
  text-decoration: underline;
}
/* line 728, ../sass/hover_animate.scss */
.pop-wrap.element-show {
  z-index: 99999;
}
/* line 730, ../sass/hover_animate.scss */
.pop-wrap.element-show .pop-inner {
  opacity: 1;
  -webkit-transform: translateZ(0) rotateX(0);
  transform: translateZ(0) rotateX(0);
}

/*=========================== element-animate-style ========================*/
/* line 741, ../sass/hover_animate.scss */
.cloud-box {
  position: relative;
  height: 100%;
  overflow: hidden;
  background: -webkit-linear-gradient(top, #c9dbe9, #fff);
  background: linear-gradient(top, #c9dbe9, #fff);
}
/* line 747, ../sass/hover_animate.scss */
.cloud-box [class*="cloud"] {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  -webkit-animation: cloud-animate 7s linear 0s infinite both;
  animation: cloud-animate 7s linear 0s infinite both;
}
/* line 753, ../sass/hover_animate.scss */
.cloud-box [class*="cloud"].cloud1 {
  top: 5px;
}
/* line 756, ../sass/hover_animate.scss */
.cloud-box [class*="cloud"].cloud2 {
  top: 80px;
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
/* line 761, ../sass/hover_animate.scss */
.cloud-box [class*="cloud"].cloud3 {
  top: 70px;
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}
/* line 766, ../sass/hover_animate.scss */
.cloud-box [class*="cloud"].cloud4 {
  top: 10px;
  -webkit-animation-delay: 3.3s;
  animation-delay: 3.3s;
}
/* line 771, ../sass/hover_animate.scss */
.cloud-box [class*="cloud"].cloud5 {
  top: 80px;
  -webkit-animation-delay: 4.4s;
  animation-delay: 4.4s;
}

@-webkit-keyframes cloud-animate {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    opacity: 1;
    -webkit-transform: translate(10%, 0);
    transform: translate(10%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(60%, 0);
    transform: translate(60%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
}
@keyframes cloud-animate {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    opacity: 1;
    -webkit-transform: translate(10%, 0);
    transform: translate(10%, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(60%, 0);
    transform: translate(60%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
}
/* line 825, ../sass/hover_animate.scss */
.stars {
  z-index: 0;
  background: #000 url(../images/stars.png) repeat center top;
}
/* line 829, ../sass/hover_animate.scss */
.twinkling {
  z-index: 1;
  background: transparent url(../images/twinkling.png) repeat center top;
  -webkit-animation: twinkling-animate 8s linear 0s infinite both;
  animation: twinkling-animate 8s linear 0s infinite both;
}
/* line 835, ../sass/hover_animate.scss */
.stars, .twinkling {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes twinkling-animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -65% -65%;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes twinkling-animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -65% -65%;
  }
  100% {
    background-position: 0 0;
  }
}
/* line 870, ../sass/hover_animate.scss */
.leaves-box {
  position: relative;
  height: 100%;
  background: -webkit-linear-gradient(top, #f5eaf2 60%, #fff);
  background: linear-gradient(top, #f5eaf2 60%, #fff);
}
/* line 875, ../sass/hover_animate.scss */
.leaves-box [class*="leave"] {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-animation: leave-animate 3.5s linear 0s infinite both;
  animation: leave-animate 3.5s linear 0s infinite both;
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
/* line 883, ../sass/hover_animate.scss */
.leaves-box [class*="leave"].leave1 {
  right: 10%;
}
/* line 886, ../sass/hover_animate.scss */
.leaves-box [class*="leave"].leave2 {
  right: 15%;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
/* line 891, ../sass/hover_animate.scss */
.leaves-box [class*="leave"].leave3 {
  right: 30%;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
/* line 896, ../sass/hover_animate.scss */
.leaves-box [class*="leave"].leave4 {
  right: 50%;
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}
/* line 901, ../sass/hover_animate.scss */
.leaves-box [class*="leave"].leave5 {
  left: 20%;
  -webkit-animation-delay: 2.9s;
  animation-delay: 2.9s;
}
/* line 906, ../sass/hover_animate.scss */
.leaves-box [class*="leave"].leave6 {
  left: 40%;
  -webkit-animation-delay: 3.6s;
  animation-delay: 3.6s;
}
/* line 911, ../sass/hover_animate.scss */
.leaves-box [class*="leave"].leave7 {
  right: 15%;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
/* line 916, ../sass/hover_animate.scss */
.leaves-box [class*="leave"].leave8 {
  left: 10%;
  -webkit-animation-delay: 3.6s;
  animation-delay: 3.6s;
}

@-webkit-keyframes leave-animate {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0) rotate(-50deg);
    transform: translate(0, 0) rotate(-50deg);
  }
  5% {
    opacity: 1;
    -webkit-transform: translate(0, 5%) rotate(-50deg);
    transform: translate(0, 5%) rotate(-50deg);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate(0, 80%) rotate(50deg);
    transform: translate(0, 80%) rotate(50deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 90%) rotate(10deg);
    transform: translate(0, 90%) rotate(10deg);
  }
}
@keyframes leave-animate {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0) rotate(-50deg);
    transform: translate(0, 0) rotate(-50deg);
  }
  5% {
    opacity: 1;
    -webkit-transform: translate(0, 5%) rotate(-50deg);
    transform: translate(0, 5%) rotate(-50deg);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate(0, 80%) rotate(50deg);
    transform: translate(0, 80%) rotate(50deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 90%) rotate(10deg);
    transform: translate(0, 90%) rotate(10deg);
  }
}
